.annual-reports{
    
    .container{
        .row{
            &:nth-child(even){
                @include respond (minWidth992){
                    flex-direction: row-reverse;
                }
            }
        }
    }
    .annual-year{
        color: #ffbf46;
    font-family: "Poppins", Sans-serif;
    font-size: 10rem;
    font-weight: 700;
    margin-bottom: 3rem;
    line-height: 83px;
    @media screen and (max-width:1200px) {
        font-size: 7rem;
    }
    @media screen and (max-width:576px) {
        font-size: 4rem;
        text-align: center;
        margin-top: 3rem;
        margin-bottom: 0;
    }
    }
    .toolkit-heads{
            font-size: 20px;
            font-weight: 700;
            text-transform: uppercase;
            color: #ffffff;
            position: relative;
            margin-bottom: 30px;
            padding: 8px 20px;
            display: inline-block;
            &::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background: #11823b;
                z-index: -1;
                transform: skewX(25deg) rotate(-2deg);
            }
            &::after{
                content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #ffbf46;
    z-index: -2;
    transform: skewX(25deg) rotate(5deg);
            }
        @include respond (maxWidth992){
            display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
        }
    }
    .content-para{
        @include respond (minWidth992){
            padding-bottom: 4.5rem;
        padding-top: 1rem;
        }
    }
    .report-wrapper{
        height: 45rem;
        position: relative;
        @include respond (minWidth992){
            margin-right: 2rem;
        }
        .overlay{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba($color: #000000, $alpha: 0.3);
            opacity: 0;
            visibility: hidden;
            transition: all 0.5s;
            display: grid;
            img{
                filter: brightness(3) sepia(5) invert(30);
                width: 3rem;
                height: auto;
                margin: auto;
            }
        }
        &:hover{
            .overlay{
                opacity: 1;
            visibility: visible;
            }
            img{
                object-position: bottom;
            }
        }
        img{
            height: 45rem;
            width: 100%;
            object-fit: cover;
            object-position: top;
            transition: 4s;
        }
    }
}