.our-team{
    .content-wrapper{
        background: $colorGrey;
        padding: 2.5rem 4rem;
    }
    .img-wrapper{
        position: relative;
        img{
            &:nth-child(1){
                width: 30rem;
                @include respond (minWidth768){
                    margin-left: auto;
                }
                mix-blend-mode: darken;
                display: block;
            }
            &.named{
                position: absolute;
                bottom: -4rem;
                width: 100%;
                height: 10rem;
                object-fit: contain;
                left: 0;
            }
        }
    }
    .devi-team{
        background: $colorPrimary;
    }
}
.devi-team{
    .nav{
        border: none;
        .nav-link{
            background: transparent;
            margin-right: 2px;
            border-top: 0.7rem solid rgba($colorWhite, $alpha: 0.3);
            color: rgba($colorWhite, $alpha: 1);
            font-weight: 700;
            border-left: transparent;
            border-bottom: transparent;
            border-right: transparent;
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(5){
                width: calc(87% / 4 - 2px);
                @include respond (maxWidth575){
                    width: calc(87% / 2 - 2px);
                }
            }
            &:nth-child(4){
                width: calc(13% - 2px);
                @include respond (maxWidth575){
                    width: calc(43.5% - 2px);
                }
            }
            border-radius: 0;
            position: relative;
            &:not(:last-child){
               &::after{
                content: "";
                position: absolute;
                right: -2px;
                top: 7px;
                width: 2px;
                height: calc(100% - 15px);
                background: #ffffff;
               }
            }
            &.active{
                background: transparent;
                border-top: 0.7rem solid rgba($colorWhite, $alpha: 1);
                    position: relative;
                    &::before{
                        content: "";
                        background-color: rgba($colorGrey, $alpha: 0.5);
                        position: absolute;
                        bottom: -9px;
                        left: 0;
                        width: 100%;
                        height: 16px;
                        @include respond (maxWidth575){
                            content: none;
                        }
                    }
            }
        }
    }
    .tab-content{
        .tab-pane{
            .team-grid{
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 2rem;
                background-color: rgba($colorGrey, $alpha: 0.5);
        padding: 2rem;
        @include respond (maxWidth992){
            grid-template-columns: repeat(2, 1fr);
        }
        @include respond (maxWidth575){
            grid-template-columns: repeat(1, 1fr);
        }
                .team-member{
                    .card{
                        text-align: center;
                        padding: 2rem 1rem;
                        &__pic{
                            width: 20rem;
                            height: 20rem;
                            margin: auto;
                            img{
                            width: 100%;
                            display: block;
                            height: 100%;
                            border-radius: 100%;
                            object-fit: cover;
                            object-position: top;
                            }
                        }
                        &__name{
                            margin: 1.5rem 0 1rem;
                        }
                        &__dest{
                            h6{
                                color: $colorPrimary;
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}
.globaladvisory-committee {
    background-image: url("../images/global-bg-01.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    padding: 2.5rem 4rem;
    img.flag {
        width: 6rem !important;
        height: auto !important;
    }
    .row{
        row-gap: 1.5rem;
    }
    .globaladvisory-person{
        border: 1px solid #000;
            padding: 2rem;
            border-radius: 1rem;
            background: rgba($colorWhite, $alpha: 1);
            height: 100%;
        position: relative;
        &:hover{
            i.fa{
                opacity: 1;
                visibility: visible;
            }
        }
        .globaladvisory-image{
            text-align: center;
            margin-bottom: 2rem;
            position: relative;
            img{
                width: 100%;
                height: 20rem;
                object-fit: cover;
                object-position: top;
            }
        }
        .globaladvisory-person-info{
            text-align: center;
            h4{
                font-size: 16px;
                margin-bottom: 1.5rem;
            }
        }
        .globaladvisory-social{
            position: absolute;
    top: 0;
    left: 0;
    display: grid;
    place-content: center;
    width: 100%;
    height: 100%;
    & *{
        display: block;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
    }
    i{
        opacity: 0;
        visibility: hidden;
        color: $colorPrimary;
        border: 2px solid $colorPrimary;
        background: rgba($colorWhite, $alpha: 0);
        width: 3rem;
        height: 3rem;
        display: grid;
        place-content: center;
        border-radius: 50%;
        transition: $transition;
    }
        }
    }
}