.m-bottom {
  margin-bottom: 7rem;

  @include respond(maxWidth992) {
    margin-bottom: 5rem;
  }

  @include respond(maxWidth768) {
    margin-bottom: 3rem;
  }
}

.m-top {
  margin-top: 7rem;

  @include respond(maxWidth992) {
    margin-top: 5rem;
  }

  @include respond(maxWidth768) {
    margin-top: 3rem;
  }
}

.p-bottom {
  padding-bottom: 7rem;

  @include respond(maxWidth992) {
    padding-bottom: 5rem;
  }

  @include respond(maxWidth768) {
    padding-bottom: 3rem;
  }
}

.p-top {
  padding-top: 7rem;

  @include respond(maxWidth992) {
    padding-top: 5rem;
  }

  @include respond(maxWidth768) {
    padding-top: 3rem;
  }
}

.space-one {
  height: 4rem;

  @include respond(maxWidth992) {
    height: 3rem;
  }

  @include respond(maxWidth768) {
    height: 2.5rem;
  }
}

.space-two {
  height: 7rem;

  @include respond(maxWidth992) {
    height: 5rem;
  }

  @include respond(maxWidth768) {
    height: 3rem;
  }
}

.primary-list {
    li {
    position: relative;
    &:not(:last-child){
      padding-bottom: 1rem;
    }
    &:before {
      content: "";
      background-image: url("../images/primary-list-01.png");
      background-size: cover;
      position: absolute;
      top: 15px;
      left: -30px;
      width: 20px;
      height: 20px;
      transform: translateY(-50%);
    }
  }
}

.owl-nav {
  display: flex;
  justify-content: flex-end;
  gap: 5px;

  button {
    background: $colorPrimary !important;
    border: 1px solid $colorPrimary !important;
    height: 4.5rem;
    width: 4.5rem;

    i {
      color: rgba($colorWhite, $alpha: 1);
    }
  }
}
.owl-dots{
    .owl-dot{
      span{
        background: rgba($colorPrimary, 0.3)!important;
        margin: 5px 3px!important;
      }
      &.active{
        span{
          background: rgba($colorPrimary, 1)!important;
        }
      }
    }
  } 