.hero-section{
    height: calc(100vh - 4rem);
    overflow: hidden;
    .bg-video {
        position: relative;
        width: 100%;
        max-width: 100%;
        height: 100%;
        z-index: -1;
        margin: auto;
        &__content{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
      }
      .volume-button {
        position: absolute;
        top: 10px;
        right: 10px;
        background: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        border-radius: 50%;
        padding: 10px;
        cursor: pointer;
      }
}
.inner-tabs-area{
    @include respond (minWidth992){
        margin-top: -8rem;
    }
    @include tabsarea;
    .tab-content{
        padding-top: 4rem;
    }
}
.chronical-area{
    #growth, 
    #crisis, 
    #expansion, 
    #poineering{
        cursor: pointer;
    }
    .vector-content{
        &__box{
            background: var(--graph-clr);
            padding: 1rem;
            .content-wrapper{
                background: $colorWhite;
                ul{
                    margin-bottom: 0;
                    padding: 1rem 2rem;
                    list-style: disc;
                    li{
                        &:not(:last-child){
                            padding-bottom: 1.5rem;
                        }
                    }
                }
            }
        }
    }
}